*{
    margin: 0;
    padding:0;
}
.main{
   background-image:url("assets/images/bg.jpg");
   height:80vh;
   
  
.box{
   
    height:80vh;
    width:100%;
     opacity:0.44;
    background-color: black;
}
    
}

